# local files
local/

# custom docker compose file
docker-compose.override.yml

# pcap files
# Ignore everything in pcaps directory
pcaps/*
# Except this file
!pcaps/example.pcap

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
